@bgcolor: gray;
@left-bgcolor: green;
@height: 100vh;

body>.ui.grid>.row>.two.wide.green.padded.column{
    text-align: center;
    padding: none;
    padding-top: 5vh;
}
body>.ui.grid>.row>.ui.fourteen.wide.container{
    width: 1190px;
    margin-right: 0%;
    margin-left: 0%;
    border: 0;
    
}
.ui.menu {
    border: 0;
    box-shadow: 0 0px 0px;
}
.ui.container {
    width: 1190px;
}
body>.ui.grid>.row>.fourteen.wide.column>.ui.borderless.icon.menu{
    //padding-left: 0;
    border: 0ch;
}
body>.ui.grid>.two.wide.column {
    background-color:darkslategray;
    height: 90vh;


}
body>.ui.grid>.two.wide.column>.ui.borderless.inverted.fluid.vertical.menu{
    background-color:darkslategray;
    color: rgba(128, 128, 128, 0.63);
    text-align: center;
    padding-right: 0;
}
body > .ui.grid > .two.wide.column{
    padding-right: 0;
}
body>.ui.grid>.two.wide.column>.ui.fluid.compact.borderless.inverted.vertical.menu>.active.item{
    background-color:rgb(36, 59, 59);
    color: silver;
}
.ui.vertical.menu .item>i.icon {
float: left !important;

}

.ui.vertical.menu .item>i.icon::hover{
background: yellow;;
}
body > .ui.grid > .two.wide.column > .ui.borderless.inverted.fluid.vertical.menu {
    padding-right: 0%;
}
body>.ui.grid>.fourteen.wide.column {
   height: fit-content;
   border: 1px solid silver;
}
.ui.circular.tiny.image{
    float: left;
}
.ui.grid>.column:not(.row) {
    padding-top: 0;
}
.ui.star.rating .active.icon {
    color:orangered !important;
}
.ui.list>a.item {
    color: silver;
}
.container>.meta>.SomeMeta{
    color: silver !important;
}
.fourteen.wide.column>.container{
    width: 600px;
    padding-top: 6px;
}
.fourteen.wide.column>.RightContainer{
    padding-right: 0;
    padding-top: 6px
}
//body>.ui.grid>.gray.column{
   //background-color: lightgray;
  // height: 70vh;
//}
/*
body>.ui.grid>.fourteen.wide.column>.fourteen.wide.column {
height: 23vh;
background-color: red;
}
body>.ui.grid>.fourteen.wide.column>.qualities.menu.row {
height: 4vh;
//width: 14 wide;
background-color: red;
}
body>.ui.grid>.fourteen.wide.column>.ui.container {
    background-color: lightgray;
    border: 1px solid silver;
}
body>.top-left-side {
    position: fixed;
    height: 9%;//@height;
    width: 15%;
    background-color: green;//@left-bgcolor;
}
*/