
@bgcolor: gray;
@left-bgcolor: green;
@height: 100vh;

body>.ui.grid>.row {

    height: 12vh;

}
body>.ui.grid>.row>.fourteen.wide.column {
    height: 12vh;
    border: 1px solid silver;

}
body>.ui.grid>.two.wide.column {
    background-color: darkslategray;
    height: 90vh;

}
body>.ui.grid>.fourteen.wide.column {
    height: 20vh;
    background-color: lightgray;

}


body>.ui.grid>.fourteen.wide.column>.fourteen.wide.column {
height: 23vh;
background-color: red;
}
body>.ui.grid>.fourteen.wide.column>.qualities.menu.row {
height: 4vh;
//width: 14 wide;
background-color: red;
}
body>.ui.grid>.fourteen.wide.column>.ui.container {
    background-color: lightgray;
    border: 1px solid silver;
}
body>.top-left-side {
    position: fixed;
    height: 9%;//@height;
    width: 15%;
    background-color: green;//@left-bgcolor;
}
